extends layout.pug

block nav
  .about
    a.link(href='/about' target="_blank") What is Conclave?
  .case-study
    a.link(href='https://conclave-team.github.io/conclave-site/' target="_blank") Case Study
  .team
    a.link(href='https://conclave-team.github.io/conclave-site/team/' target="_blank") Our Team
  .github
    a.link(href='https://github.com/conclave-team/conclave' target="_blank") Fork on GitHub

block link
  p.sharing-link
    a.link(id='myLink' target="_blank") Sharing Link
    span(id="myLinkInput" class="aside disappear")
    span(class="copy-container" data-tooltip="Copy to Clipboard")
      i(data-feather="copy" class="copy-link" color="rgb(17, 117, 232)")
    span(class="copy-status") Copied!
  
  .connect-section
    p.connect-label Connect to Peer:
    .connect-controls
      input(type="text" id="peerIdInput" placeholder="Enter Peer ID..." class="peer-id-input")
      button(id="connectBtn" class="connect-btn") Connect
      span(class="connect-status")

block scripts
  script(src='js/main.js')
